@import url("theme.css");

* {
  margin: 0;
  padding: 0;
}

.btn {
  padding-block: 0.5em;
  transition: all .2s ease-in-out;
}

.btn:hover {
  transform: scale(0.99)
}

a, a:hover {
  text-decoration: none;
}

.navbar-brand {
  font-size: 1.5em;
  margin: 0;
}

.nav-link.active {
  font-weight: bold;
}

.split-img {
  max-width: 45rem;
}

@media (min-width: 75rem) {
  .dashboard {
    display: flex;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}