{% extends 'base_dash.html' %}

{% block navlinks %}

<div class="modal fade" id="confirmTaskModal" tabindex="-1" aria-labelledby="confirmTaskModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h4 text-danger">Confirm changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to make these changes?</p>
                <div class="visually-hidden" id="confirmTask"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger text-white" data-bs-dismiss="modal"
                    onclick="updateTask(''+$('#confirmTask').html())">Proceed</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmEmployeeModal" tabindex="-1" aria-labelledby="confirmEmployeeModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h4 text-danger">Confirm changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to make these changes?</p>
                <div class="visually-hidden" id="confirmEmployee"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger text-white" data-bs-dismiss="modal"
                    onclick="updateorDeleteEmployee(''+$('#confirmEmployee').html())">Proceed</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModalLabel" aria-none="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h5 text-primary" id="exampleModalLabel2">Create a new team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id=newTeamForm>
                <div class="modal-body text-center">
                    <div class="col-md">
                        <label for="tname" class="form-label">Team Name</label>
                        <input type="text" class="form-control bg-dark text-light" id="tname" placeholder="Teamname"
                            name="tname" required>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>&nbsp;
                    <button class="btn btn-primary w-75" type="submit" data-bs-dismiss="modal" onclick="addTeam()">
                        Create Team
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="addEmployeeModal" tabindex="-1" aria-labelledby="addEmployeeModalLabel" aria-none="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h5 text-primary" id="exampleModalLabel2">Add new Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id=newEmployeeForm>
                <div class="modal-body text-center">
                    <div class="col-md">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control bg-dark text-light" id="username" placeholder="Username"
                            name="username" required>
                    </div>
                    <div class="col-md">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control bg-dark text-light" id="name" placeholder="Employee Name"
                            name="name" required>
                    </div>
                    <div class="col-md">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control bg-dark text-light" id="password"
                            placeholder="Password" name="password" required>
                    </div>
                    <div class="col-md">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select bg-dark text-light" id="type" name="type" onchange="changeFieldVisibility(this);">
                            <option value="default" selected>Select a type</option>
                            <option value="teamleader">Team Leader</option>
                            <option value="normal">Normal</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="col-md" id="teamdiv" style="display: none !important">
                        <label for="team" class="form-label">Team</label>
                        <select class="form-select bg-dark text-light" id="team" name="team">
                            {% for team in teams %}
                            <option value="{{ team.id }}">{{ team.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="hiredate" class="form-label">Hiredate</label>
                        <input type="text" class="form-control bg-dark text-light deadline"
                            placeholder="dd MONTH, yyyy" name="hiredate" required id="hiredate">
                    </div>
                    <div class="col-md">
                        <label for="salary" class="form-label">Salary</label>
                        <input type="text" class="form-control bg-dark text-light" id="salary" placeholder="Salary"
                            name="salary" required>
                    </div>
                    <div class="col-md" id="bonusdiv" style="display: none !important">
                        <label for="bonus" class="form-label">Bonus</label>
                        <input type="text" class="form-control bg-dark text-light" id="bonus" placeholder="Bonus"
                            name="bonus" required>
                    </div>
                    <div class="col-md" id="overtimediv" style="display: none !important">
                        <label for="overtime" class="form-label">Overtime</label>
                        <input type="text" class="form-control bg-dark text-light" id="overtime" placeholder="Overtime"
                            name="overtime" required>
                    </div>
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary w-75" type="submit" data-bs-dismiss="modal" onclick="addEmployee()">
                        Add Employee
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<button class="fs-5 pr-2 nav-link text-white active" data-bs-toggle="tab" href="#logs" data-target="#logs" type="button"
    role="tab">
    <span class="material-icons align-middle">query_stats</span>
    Logistics
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#employees" data-target="#employees"
    type="button" role="tab">
    <span class="material-icons align-middle">manage_accounts</span>
    Employees
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#tasks" data-target="#tasks" type="button"
    role="tab">
    <span class="material-icons align-middle">task_alt</span>
    Tasks
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#payroll" data-target="#payroll" type="button"
    role="tab">
    <span class="material-icons align-middle">paid</span>
    Payroll
</button>

{% endblock navlinks %}

{% block navtabs %}

<div class="card border-primary mb-3 tab-pane active in" role="tabpanel" id="logs">
    <div class="card-header text-primary h5 p-3">Logistics</div>
    <div class="card-body">
        <strong class="card-title text-primary">
            Quick Stats
        </strong>
        <div class="row">
            <div class="col-md card bg-primary p-xl-5 ml-md-3 mr-md-3 mx-s-3">
                <strong class="card-title text-white">
                    Most Tasks Completed
                </strong>
                <div class="card-body text-secondary fs-3">
                    {{teams[stats["maxcompl"]].name}}
                    <br>
                    <div class="text-center">
                    {{stats["ts"][stats["maxcompl"]][2]}} / {{(stats["ts"][stats["maxcompl"]])|sum}}</div>
                </div>
            </div>
            <div class="col-md card bg-primary p-xl-5  ml-md-3 mr-md-3 mx-s-3">
                <strong class="card-title text-white">
                    Most Tasks in Progress
                </strong>
                <div class="card-body text-secondary fs-3">
                    {{teams[stats["maxprog"]].name}}
                    <br>
                    <div class="text-center">
                        {{stats["ts"][stats["maxprog"]][1]}} / {{(stats["ts"][stats["maxprog"]])|sum}} </div>
                </div>
            </div>
            <div class="col-md card bg-primary p-xl-5  ml-md-3 mr-md-3 mx-s-3">
                <strong class="card-title text-white">
                    Best Task Completion Ratio
                </strong>
                <div class="card-body text-secondary fs-3">
                    {{teams[stats["maxcomplrat"]].name}}
                    <br>
                    <div class="text-center">
                        {{(stats["ts"][stats["maxcomplrat"]][2]/(stats["ts"][stats["maxcomplrat"]])|sum)*100}} %</div>
                </div>
            </div>
        </div>
        <br>
        <strong class="card-title text-primary">
            Task Statistics
        </strong>
        <div class="card-deck">
            {% for team in teams %}
            <div class="card bg-primary text-light p-5 fs-5">
                <strong class="card-title">Team {{team.name}}</strong>
                <p>Started: {{stats["ts"][team.id][0]}}
                    <br>
                    In Progress: {{stats["ts"][team.id][1]}}
                    <br>
                    Completed: {{stats["ts"][team.id][2]}}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="employees">
    <div class="card-header text-primary h5 p-3">Manage Employees</div>
    <div class="card-body">
        <h4>Admin</h4>
        <div class="table-responsive">
            <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">Username</th>
                        <th class="text-center align-middle p-xl-3">Name</th>
                        <th class="text-center align-middle p-xl-3">Password</th>
                        <th class="text-center align-middle p-xl-3">Type</th>
                        <th class="text-center align-middle p-xl-3">Hiredate</th>
                        <th class="text-center align-middle p-xl-3">Salary</th>
                        <th class="text-center align-middle p-xl-3">Actions</th>
                    </tr>
                </thead>
                {% for a in admin %}
                <tr>
                    <td class="text-center align-middle p-xl-3 fw-bold" id="username{{ a.username }}">
                        {{a.username}}
                    </td>
                    <td class="text-center align-middle p-xl-3 fw-bold">
                        <div id="name{{ a.username }}" contenteditable>{{a.name}}</div>
                    </td>

                    <td class="p-xl-3 fw-bold align-middle">
                        <input type="password" class="form-control text-center align-middle bg-dark text-light fw-bold"
                            name="password" placeholder="Password" id="password{{ a.username }}">
                    </td>
                    <td class="p-xl-3 fw-bold text-center align-middle" id="type{{ a.username }}">{{a.type}}</td>
                    <td class="text-center align-middle p-xl-3">
                        <input type="text"
                            class="form-control text-center align-middle bg-dark text-light fw-bold deadline"
                            value="{{ a.hiredate.strftime('%d %B, %Y') }}" name="hiredate" required
                            id="hiredate{{ a.username }}">
                    </td>
                    <td class="text-center align-middle p-xl-3 fw-bold">
                        <div contenteditable id="sal{{ a.username }}">{{a.sal}}</div>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ a.username }}','/updateEmployee')"
                            data-bs-target="#confirmEmployeeModal">
                            <span class="material-icons align-middle">
                                update
                            </span>
                            Update
                        </a>
                        &emsp;
                        <a class="text-danger fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ a.username }}','/deleteEmployee')"
                            data-bs-target="#confirmEmployeeModal" {% if a.username == user.username %}style= "display: none"{% endif %}>
                            <span class="material-icons align-middle">
                                delete
                            </span>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br><br>
        </div>
        {% for team in teams %}
        <div class="d-flex">
            <h4>Team&nbsp;</h4>
            <h4 id="teamname{{ team.id }}" contenteditable>{{team.name}}</h4><h4>&nbsp;({{team.id}})</h4>
            <div class="flex-grow-1"></div>
            <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                onclick="showEmployeeConfirm('{{ team.id }}','/updateTeamName')" data-bs-target="#confirmEmployeeModal">
                <span class="material-icons align-middle">
                    update
                </span>
                Update
            </a>
        </div>

        <div class="table-responsive">
            <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">Username</th>
                        <th class="text-center align-middle p-xl-3">Name</th>
                        <th class="text-center align-middle p-xl-3">Password</th>
                        <th class="text-center align-middle p-xl-3">Type</th>
                        <th class="text-center align-middle p-xl-3">Hiredate</th>
                        <th class="text-center align-middle p-xl-3">Salary</th>
                        <th class="text-center align-middle p-xl-3">Actions</th>
                    </tr>
                </thead>
                {% if team.leader %}
                <tr>
                    <td class="text-center align-middle p-xl-3 fw-bold" id="username{{ team.leader.username }}">
                        {{team.leader.username}}
                    </td>
                    <td class="text-center align-middle p-xl-3 fw-bold">
                        <div id="name{{ team.leader.username }}" contenteditable>{{team.leader.name}}</div>
                    </td>
                    <td class="p-xl-3 fw-bold align-middle">
                        <input type="password" class="form-control text-center align-middle bg-dark text-light fw-bold"
                            name="password" id="password{{ team.leader.username }}" placeholder="Password">
                    </td>
                    <td class="p-xl-3 fw-bold text-center align-middle" id="type{{ team.leader.username }}">
                        {{team.leader.type}}</td>
                    <td class="text-center align-middle p-xl-3">
                        <input type="text"
                            class="form-control text-center align-middle bg-dark text-light fw-bold deadline"
                            value="{{ team.leader.hiredate.strftime('%d %B, %Y') }}" name="hiredate" required
                            id="hiredate{{ team.leader.username }}">
                    </td>
                    <td class="text-center align-middle p-xl-3 fw-bold">
                        <div id="sal{{ team.leader.username }}" contenteditable>{{team.leader.sal}}</div>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ team.leader.username }}','/updateEmployee')"
                            data-bs-target="#confirmEmployeeModal">
                            <span class="material-icons align-middle">
                                update
                            </span>
                            Update
                        </a>
                        &emsp;
                        <a class="text-danger fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ team.leader.username }}', '/deleteEmployee')"
                            data-bs-target="#confirmEmployeeModal">
                            <span class="material-icons align-middle">
                                delete
                            </span>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% for emp in team.normal_users %}
                <tr>
                    <td class="text-center align-middle p-xl-3" id="username{{ emp.username }}">
                        {{ emp.username }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <div contenteditable id="name{{ emp.username }}">{{ emp.name }}</div>
                    </td>
                    <td class="p-xl-3 fw-bold align-middle">
                        <input type="password" class="form-control text-center align-middle bg-dark text-light"
                            name="password" id="password{{ emp.username }}" placeholder="Password">
                    </td>
                    <td class="text-center align-middle p-xl-3" id="type{{ emp.username }}">
                        {{ emp.type }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <input type="text" class="form-control text-center align-middle bg-dark text-light deadline"
                            value="{{ emp.hiredate.strftime('%d %B, %Y') }}" name="hiredate" required
                            id="hiredate{{ emp.username }}">
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <div id="sal{{ emp.username }}" contenteditable>{{ emp.sal }}</div>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ emp.username }}','/updateEmployee')"
                            data-bs-target="#confirmEmployeeModal">
                            <span class="material-icons align-middle">
                                update
                            </span>
                            Update
                        </a>
                        &emsp;
                        <a class="text-danger fw-bold" href="" data-bs-toggle="modal"
                            onclick="showEmployeeConfirm('{{ emp.username }}','/deleteEmployee')"
                            data-bs-target="#confirmEmployeeModal">
                            <span class="material-icons align-middle">
                                delete
                            </span>
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <br><br>
        {% endfor %}
        <div class="d-flex justify-content-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#addEmployeeModal" class="btn btn-primary w-25">
                <span class="material-icons align-middle">person_add</span>&emsp;
                Add Employee
            </a>
            &emsp;
            <a href="#" data-bs-toggle="modal" data-bs-target="#addTeamModal" class="btn btn-primary w-25">
                <span class="material-icons align-middle">person_add</span>&emsp;
                Add Team
            </a>
        </div>
    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="tasks">
    <div class="card-header text-primary h5 p-3">Tasks</div>
    <div class="card-body">
        {% for team in task_teams %}
        <h4>Team {{ team }}</h4>
        <div class="table-responsive">
            <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">ID</th>
                        <th class="text-center align-middle p-xl-3">Deadline</th>
                        <th class="text-center align-middle p-xl-3">Importance</th>
                        <th class="text-center align-middle p-xl-3">Description</th>
                        <th class="text-center align-middle p-xl-3">Assigned to</th>
                        <th class="text-center align-middle p-xl-3">Progress</th>
                        <th class="text-center align-middle p-xl-3">Actions</th>
                    </tr>
                </thead>
                {% for task in tasks %}
                {% if task.team_name == team %}
                <tr>
                    <td class="text-center align-middle p-xl-3" id="id{{ task.id }}">
                        {{ task.id }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <input type="text" class="form-control bg-dark text-light deadline" id="deadline{{ task.id }}"
                            value="{{ task.deadline.strftime('%d %B, %Y') }}" name="deadline" required>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <select class="form-select bg-dark text-light" id="imp{{ task.id }}">
                            <option value="0" {% if task.importance==0 %} selected {% endif %}>Low</option>
                            <option value="1" {% if task.importance==1 %} selected {% endif %}>Medium</option>
                            <option value="2" {% if task.importance==2 %} selected {% endif %}>High</option>
                        </select>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <div contenteditable id="desc{{ task.id }}">{{ task.description }}</div>
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <select class="form-select bg-dark text-light" id="asn{{ task.id }}">
                            {% for user in task.normal_users %}
                            <option value="{{ user }}" {% if user==task.assignedto %}selected{% endif %}>{{ user }}
                            </option>
                            {% endfor %}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ ["Assigned", "In Progress", "Completed"][task.progress] }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                            onclick="showTaskConfirm('{{ task.id }}')" data-bs-target="#confirmTaskModal">
                            <span class="material-icons align-middle">
                                update
                            </span>
                            Update
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <br><br>
        {% endfor %}
    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="payroll">
    <div class="card-header text-primary h5 p-3">Payroll</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">Name</th>
                        <th class="text-center align-middle p-xl-3">Salary ($)</th>
                        <th class="text-center align-middle p-xl-3">Overtime (hrs)</th>
                        <th class="text-center align-middle p-xl-3">Bonus ($)</th>
                        <th class="text-center align-middle p-xl-3">Total ($)</th>
                    </tr>
                </thead>
                {% for team in teams %}
                <tr>
                    <td class="text-center align-middle p-xl-3">
                        {{ team.leader.name }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "$ %.2f" % team.leader.sal }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        -
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "$ %.2f" % team.leader.overtime_bonus }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "$ %.2f" % total_sal[team.leader.username] }}
                    </td>
                </tr>
                {% for emp in team.normal_users %}
                <tr>

                    <td class="text-center align-middle p-xl-3">
                        {{ emp.name }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "$ %.2f" % emp.sal }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "%.2f" % emp.overtime_bonus }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        -
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ "$ %.2f" % total_sal[emp.username] }}
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
                <div class="table-responsive">
                    <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">Total Team Leader Salary ($)</th>
                        <th class="text-center align-middle p-xl-3">Total Normal Employee Salary ($)</th>
                        <th class="text-center align-middle p-xl-3">Total Payroll ($)</th>
                    </tr>
                </thead>
                <td class="text-center align-middle p-xl-3">
                    {{ "$ %.2f" % total_sal["total_leader_sal"] }}
                </td>
                <td class="text-center align-middle p-xl-3">
                    {{ "$ %.2f" % total_sal["total_normal_sal"] }}
                </td>
                <td class="text-center align-middle p-xl-3">
                    {{ "$ %.2f" % (total_sal["total_leader_sal"] + total_sal["total_normal_sal"])}}
                </td>
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

    // console.log('{{ teams }}')

    $('.deadline').datepicker({
        dateFormat: 'dd MM, yy',
    });

    function changeFieldVisibility(type) {
        if (type.selectedIndex == 1) {
            document.getElementById("teamdiv").style.display = "block"
            document.getElementById("bonusdiv").style.display = "block"
            document.getElementById("overtimediv").style.display = "none"
        }
        else if (type.selectedIndex == 2) {
            document.getElementById("teamdiv").style.display = "block"
            document.getElementById("bonusdiv").style.display = "none"
            document.getElementById("overtimediv").style.display = "block"
        }
        else {
            document.getElementById("teamdiv").style.display = "none"
            document.getElementById("bonusdiv").style.display = "none"
            document.getElementById("overtimediv").style.display = "none"
        }
    }

    function addEmployee() {
        var xhr = new XMLHttpRequest();
        var data = $('#newEmployeeForm').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        console.log(data);
        xhr.open("POST", "/addEmployee", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if(xhr.responseText != 'success'){
                    alert('Error: ' + xhr.responseText );
                }
            }
        };

        setTimeout(function () {
            $("#employees").load(location.href + " #employees>*", "");
        }, 500);
    }

    function addTeam() {
        var xhr = new XMLHttpRequest();
        var data = $('#newTeamForm').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        console.log(data);
        xhr.open("POST", "/addTeam", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if(xhr.responseText != 'success'){
                    alert('Error: ' + xhr.responseText );
                }
            }
        };

        setTimeout(function () {
            $("#employees").load(location.href + " #employees>*", "");
        }, 500);
    }

    function updateTask(username) {
        console.log(username);
        var xhr = new XMLHttpRequest();
        var e = document.getElementById("imp" + username);
        var e2 = document.getElementById("asn" + username);
        var data = { "username": username, "deadline": document.getElementById("deadline" + username).value, "description": document.getElementById("desc" + username).innerHTML, "importance": e.options[e.selectedIndex].value, "assignedto": e2.options[e2.selectedIndex].value };
        console.log(data);
        xhr.open("POST", "/updateTask", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if(xhr.responseText != 'success'){
                    alert('Error: ' + xhr.responseText );
                }
            }
        };

        setTimeout(function () {
            $("#tasks").load(location.href + " #tasks>*", "");
        }, 500);
    }

    function updateorDeleteEmployee(unurl) {
        console.log(unurl);
        let username = unurl.split(",")[0]
        let url = unurl.split(",")[1]
        if (url === "/updateTeamName") {
            data = { "teamid": username, "teamname": document.getElementById('teamname' + username).innerHTML };
        }
        else {
            var data = { "username": username, "name": document.getElementById("name" + username).innerHTML, "type": document.getElementById("type" + username).innerHTML, "password": document.getElementById("password" + username).value, "hiredate": document.getElementById("hiredate" + username).value, "salary": document.getElementById("sal" + username).innerHTML };
        }
        var xhr = new XMLHttpRequest();
        console.log(data);
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if(xhr.responseText != 'success'){
                    alert('Error: ' + xhr.responseText );
                }
            }
        };

        setTimeout(function () {
            $("#employees").load(location.href + " #employees>*", "");
            $("#payroll").load(location.href + " #payroll>*", "");
        }, 500);
    }

    var intervalId = setInterval(function () {
        $("#logs").load(location.href + " #logs>*", "")
    }, 2000);

    function showTaskConfirm(username) {
        $('#confirmTask').html(username);
    }

    function showEmployeeConfirm(username, url) {
        $('#confirmEmployee').html(username + "," + url);
    }
</script>

{% endblock navtabs %}