{% extends 'base_dash.html' %}

{% block navlinks %}

<div class="modal fade" id="confirmTaskModal" tabindex="-1" aria-labelledby="confirmTaskModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h4 text-danger">Confirm changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to make these changes?</p>
                <div class="visually-hidden" id="confirmTask"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger text-white" data-bs-dismiss="modal"
                    onclick="updateTask(''+$('#confirmTask').html())">Proceed</a>
            </div>
        </div>
    </div>
</div>

<button class="fs-5 pr-2 nav-link text-white active" data-bs-toggle="tab" href="#logs" data-target="#logs" type="button"
    role="tab">
    <span class="material-icons align-middle">groups</span>
    Logistics
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#team" data-target="#team" type="button"
    role="tab">
    <span class="material-icons align-middle">groups</span>
    Teams
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#tasks" data-target="#tasks"
    type="button" role="tab">
    <span class="material-icons align-middle">task_alt</span>
    Tasks
</button>

{% endblock navlinks %}

{% block navtabs %}

<div class="card border-primary mb-3 tab-pane active in" role="tabpanel" id="logs">
    <div class="card-header text-primary h5 p-3">Logistics</div>
    <div class="card-body">

    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="team">
    <div class="card-header text-primary h5 p-3">Teams</div>
    <div class="card-body">

    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="tasks">
    <div class="card-header text-primary h5 p-3">Tasks</div>
    <div class="card-body">
        {% for team in task_teams %}
            <h4>{{ team }}</h4>
            <div class="table-responsive">
                <table class="table w-100 p-md-5">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center align-middle p-xl-3">ID</th>
                            <th class="text-center align-middle p-xl-3">Deadline</th>
                            <th class="text-center align-middle p-xl-3">Importance</th>
                            <th class="text-center align-middle p-xl-3">Description</th>
                            <th class="text-center align-middle p-xl-3">Assigned to</th>
                            <th class="text-center align-middle p-xl-3">Progress</th>
                            <th class="text-center align-middle p-xl-3">Actions</th>
                        </tr>
                    </thead>
                    {% for task in tasks %}
                    {% if task.team_name == team %}
                    <tr>
                        <td class="text-center align-middle p-xl-3" id="id{{ task.id }}">
                            {{ task.id }}
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <input type="text" class="form-control bg-dark text-light deadline" id="deadline{{ task.id }}"
                                value="{{ task.deadline.strftime('%d %B, %Y') }}" name="deadline" required>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <select class="form-select bg-dark text-light" id="imp{{ task.id }}">
                                <option value="0" {% if task.importance==0 %} selected {% endif %}>Low</option>
                                <option value="1" {% if task.importance==1 %} selected {% endif %}>Medium</option>
                                <option value="2" {% if task.importance==2 %} selected {% endif %}>High</option>
                            </select>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <div contenteditable id="desc{{ task.id }}">{{ task.description }}</div>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <select class="form-select bg-dark text-light" id="asn{{ task.id }}">
                                {% for user in task.normal_users %}
                                    <option value = "{{ user }}" {% if user == task.assignedto %}selected{% endif %}>{{ user }}</option>
                                {% endfor %}
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            {{ ["Assigned", "In Progress", "Completed"][task.progress] }}
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                                onclick="showTaskConfirm('{{ task.id }}')" data-bs-target="#confirmTaskModal">
                                <span class="material-icons align-middle">
                                    update
                                </span>
                                Update
                            </a>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
            <br><br>
        {% endfor %}
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $('.deadline').datepicker({
        dateFormat: 'dd MM, yy',
    });

    function updateTask(taskID) {
        console.log(taskID);
        var xhr = new XMLHttpRequest();
        var e = document.getElementById("imp" + taskID);
        var e2 = document.getElementById("asn" + taskID);
        var data = { "taskID": taskID, "deadline": document.getElementById("deadline" + taskID).value, "description": document.getElementById("desc" + taskID).innerHTML, "importance": e.options[e.selectedIndex].value, "assignedto": e2.options[e2.selectedIndex].value };
        console.log(data);
        xhr.open("POST", "/updateTask", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        setTimeout(function () {
            $('#tasks').load(document.URL + ' #tasks');
        }, 500);
    }

    function showTaskConfirm(taskID) {
        $('#confirmTask').html(taskID);
    }
</script>

{% endblock navtabs %}