{% extends 'base_dash.html' %}

{% block navlinks %}

<div class="modal fade" id="confirmTaskModal" tabindex="-1" aria-labelledby="confirmTaskModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h4 text-danger">Confirm changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to make these changes?</p>
                <div class="visually-hidden" id="confirmTask"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                <a type="button" class="btn btn-danger text-white" data-bs-dismiss="modal"
                    onclick="updateTask(''+$('#confirmTask').html())">Proceed</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title h5 text-primary" id="exampleModalLabel2">Create a new task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" id=newTaskForm>
                <div class="modal-body text-center">
                    <div class="col-md">
                        <label for="name" class="form-label">Deadline</label>
                        <input type="text" class="form-control bg-dark text-light deadline"
                                placeholder="dd MONTH, yyyy" name="deadline" required id="deadline">
                    </div>
                    <div class="col-md">
                        <label for="price" class="form-label">Priority</label>
                        <select class="form-select bg-dark text-light" id="imp" name="imp">
                            <option value="0" selected>Low</option>
                            <option value="1">Medium</option>
                            <option value="2">High</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control bg-dark text-light" id="descr" placeholder="Description of the task"
                            name="descr" required>
                    </div>
                    <div class="col-md">
                        <label for="assignto" class="form-label">Assign to</label>
                        <select class="form-select bg-dark text-light" id="assignto" name="assignto"> 
                            {% for emp in res %}
                            <option value="{{emp.username}}" {% if emp.username == res[0].username %}
                                selected
                            {% endif %}>{{emp.name}} ({{ emp.username }})</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                </div>

                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary w-75" type="submit" data-bs-dismiss="modal" onclick="addTask()">
                        Create Task
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<button class="fs-5 pr-2 nav-link text-white active" data-bs-toggle="tab" href="#tasks" data-target="#tasks" type="button"
    role="tab">
    <span class="material-icons align-middle">task_alt</span>
    Tasks
</button>

<button class="fs-5 pr-2 nav-link text-white" data-bs-toggle="tab" href="#team" data-target="#team" type="button" role="tab">
    <span class="material-icons align-middle">groups</span>
    Team
</button>

{% endblock navlinks %}

{% block navtabs %}

<div class="card border-primary mb-3 tab-pane active in" role="tabpanel" id="tasks">
    <div class="card-header text-primary h5 p-3">Tasks</div>
    <div class="card-body">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table w-100 p-md-5">
                    <thead class="table-light">
                        <tr>
                            <th class="text-center align-middle p-xl-3">Task ID</th>
                            <th class="text-center align-middle p-xl-3">Assigned To</th>
                            <th class="text-center align-middle p-xl-3">Deadline</th>
                            <th class="text-center align-middle p-xl-3">Description</th>
                            <th class="text-center align-middle p-xl-3">Importance</th>
                            <th class="text-center align-middle p-xl-3">Progress</th>
                            <th class="text-center align-middle p-xl-3">Actions</th>
                        </tr>
                    </thead>
                    {% for task in tasks %}
                    <tr>
                        <td class="text-center align-middle p-xl-3">
                            {{ task.taskid }}
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <select class="form-select bg-dark text-light" id="asst{{task.taskid}}">
                                {% for emp in res %}
                                <option value="{{emp.username}}" {% if task.username == emp.username %}
                                    selected
                                {% endif %}>{{emp.name}} ({{ emp.username }})</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="text-center align-middle p-xl-3" id="gg">
                            <input type="text" class="form-control bg-dark text-light deadline"
                                value="{{ task.deadline.strftime('%d %B, %Y') }}" name="deadline" required id="dlt{{task.taskid}}">
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <div contenteditable id="descrt{{task.taskid}}">{{ task.desc }}</div>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <select class="form-select bg-dark text-light" id="impt{{task.taskid}}">
                                <option value="0" {% if task.imp == 0 %}
                                    selected
                                {% endif %}>Low</option>
                                <option value="1" {% if task.imp == 1 %}
                                selected
                            {% endif %}>Medium</option>
                                <option value="2" {% if task.imp == 2 %}
                                selected
                            {% endif %}>High</option>
                            </select>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <div>{{ ["Assigned", "In Progress", "Completed"][task.progress] }}</div>
                        </td>
                        <td class="text-center align-middle p-xl-3">
                            <a class="text-warning fw-bold" href="" data-bs-toggle="modal"
                                onclick="showTaskConfirm('t'+'{{ task.taskid }}')" data-bs-target="#confirmTaskModal">
                                <span class="material-icons align-middle">
                                    update
                                </span>
                                Update
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <br>
            <div class="text-center">
                <a href="#" data-bs-toggle="modal" data-bs-target="#addTaskModal" class="btn btn-primary w-50">
                    <span class="material-icons align-middle">library_add</span>&emsp;
                    Add Task
                </a>
            </div>
        </div>
    </div>
</div>

<div class="card border-primary mb-3 tab-pane in" role="tabpanel" id="team">
    <div class="card-header text-primary h5 p-3">Team {{teamName}}</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table w-100 p-md-5">
                <thead class="table-light">
                    <tr>
                        <th class="text-center align-middle p-xl-3">Username</th>
                        <th class="text-center align-middle p-xl-3">Name</th>
                        <th class="text-center align-middle p-xl-3">Hiredate</th>
                        <th class="text-center align-middle p-xl-3">Salary</th>
                    </tr>
                </thead>
                {% for emp in res %}
                <tr>
                    <td class="text-center align-middle p-xl-3">
                        {{ emp.username }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ emp.name }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ emp.hiredate.strftime("%d %B %Y") }}
                    </td>
                    <td class="text-center align-middle p-xl-3">
                        {{ emp.sal }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $('.deadline').datepicker({
        dateFormat: 'dd MM, yy',
    });

    function addTask() {
        var xhr = new XMLHttpRequest();
        var data = $('#newTaskForm').serializeArray().reduce(function (obj, item) {
            obj[item.name] = item.value;
            return obj;
        }, {});
        console.log(data);
        xhr.open("POST", "/addTask", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        setTimeout(function () {
            $('#tasks').load(document.URL + ' #tasks');
        }, 500);
    }
    function updateTask(taskID) { // I should rename this
        console.log(taskID);
        var xhr = new XMLHttpRequest();
        var e = document.getElementById("imp" + taskID);
        var e2 = document.getElementById("ass" + taskID);
        var data = { "taskID": taskID[1], "deadline": document.getElementById("dl" + taskID).value, "description": document.getElementById("descr" + taskID).innerHTML, "importance": e.options[e.selectedIndex].value, "assignedto": e2.options[e2.selectedIndex].value };
        console.log(data);
        xhr.open("POST", "/updateTask", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(data));

        setTimeout(function () {
            $('#tasks').load(document.URL + ' #tasks');
        }, 500);
    }

    function showTaskConfirm(taskID) {
        $('#confirmTask').html(taskID);
    }
</script>

{% endblock navtabs %}

